body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(62,1,116);
  background: linear-gradient(180deg, rgba(58,57,73,1) 0%, rgba(68,43,82,1) 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #654377 !important;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #fffde7 !important;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #fffde7 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
